{% extends 'food/base.html' %}
{% load static %}
{% block body%}
<link rel="stylesheet" href="{% static 'food/cards.css' %}">
<body>
  <div class="card-hover">
    <div class="card-hover__content">
      <h3 class="card-hover__title">
        <span>{{item.item_name}}</span>
      </h3>
      <p class="card-hover__text">{{item.item_desc}}</p>
      <a href="{% url 'food:delete_item' item.id %}" >Delete</a>
      <a href="#" class="card-hover__link">
        <span>${{item.item_price}}</span>
        
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
        </svg>        
      </a>
    </div>
    <div class="card-hover__extra">
      <h4>L <span>now</span> and get <span>40%</span> discount!</h4>
    </div>
    <img src="{{item.item_image}}" alt="">
  </div>
</body>  
{% endblock %}