{% extends 'food/base.html' %}
{% load static %}
{% block body %}
     <link rel="stylesheet" href="{% static 'food/register.css' %}"> 
    <form method="post" class="registration-form">
        {% csrf_token %}

        <!-- {{ form.as_p }} -->
        {{form.username.label}}
        {{form.username}}
        {{form.email.label}}
        {{form.email}}
        {{form.password1.label}}
        {{form.password1}}
        {{form.password2.label}}
        {{form.password2}}
        {{form.erorrs}}
        {% if form.errors %}
        <div class="form-errors">
            <h2>Form Errors:</h2>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|join:", " }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <br>
        <button type="submit">Register</button>
    </form>
    
{% endblock %}
