.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc107;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.navbar .navbar-brand {
    font-size: 24px;
    color: #660b0b;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #06c044;
}

.navbar .nav-items {
    display: flex;
}

.navbar .nav-item {
    margin-right: 10px;
}

.navbar .nav-item:last-child {
    margin-right: 0;
}

.navbar .nav-item a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}

.navbar .nav-item.admin-link {
    background-color: #4CAF50;
    color: white;
}

.navbar .nav-item a:hover {
    background-color: #f5f5f5;
}